body{
  background-image: url('https://wallpaperaccess.com/full/2114456.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h3{
  margin-top: 40px;
}

.strikeout{
  text-decoration: line-through;
}


main{
  background: white;
  color: black;
  margin: 10% 20%;
  padding: 10px;
}

li{
  list-style: none;
}
